wifi_ssid: "YourSSID"
wifi_password: "YourPassword"
wifi_ip: "192.168.1.100"
wifi_gateway: "192.168.1.1"
wifi_subnet: "255.255.255.0"
wifi_dns: "192.168.1.1"
fallback_ap_password: "dynamicframe"
api_encryption_key: "base64-encoded-32-byte-key"
ota_password: "your-ota-password"
server_fetch_url: "http://192.168.1.50:8080/fetchImage"
server_clear_url: "http://192.168.1.50:8080/clearImage"
server_calibration_url: "http://192.168.1.50:8080/calibrationImage"
server_auth_header: "Basic dXNlcm5hbWU6cGFzc3dvcmQ="
